<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="phoneword.sample.com">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:icon="@drawable/icon" android:label="Phoneword"></application>
	<uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>